trunk/EMAYOR_CS-ASM-ASM-EMAYOR_CS/Config-ASM-Site1/asmSeville-http-prov-su/src/main/resources/SienaService.wsdl

<?xml version="1.0" encoding="UTF-8" ?> 
<wsdl:definitions targetNamespace="uri:org.emayor.servicehandling.kernel.forward" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="uri:org.emayor.servicehandling.kernel.forward" xmlns:intf="uri:org.emayor.servicehandling.kernel.forward" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<wsdl:types>
<schema targetNamespace="uri:org.emayor.servicehandling.kernel.forward" xmlns="http://www.w3.org/2001/XMLSchema">
<complexType name="ArrayOfStrings">
<sequence>
  <element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:string" /> 
  </sequence>
  </complexType>
<complexType name="ForwardMessage">
<sequence>
  <element name="documents" nillable="true" type="impl:ArrayOfStrings" /> 
  <element name="replyAddress" nillable="true" type="xsd:string" /> 
  <element name="replyID" nillable="true" type="xsd:string" /> 
  <element name="replyService" nillable="true" type="xsd:string" /> 
  <element name="serviceId" nillable="true" type="xsd:string" /> 
  <element name="type" type="xsd:int" /> 
  </sequence>
  </complexType>
  <element name="forwardRequestElement" type="impl:ForwardMessage" /> 
  <element name="forwardResponseElement" type="impl:ForwardMessage" /> 
  </schema>
  </wsdl:types>
<wsdl:message name="forwardResponseRequest">
  <wsdl:part element="impl:forwardResponseElement" name="response" /> 
  </wsdl:message>
  <wsdl:message name="forwardRequestResponse" /> 
  <wsdl:message name="forwardResponseResponse" /> 
<wsdl:message name="forwardRequestRequest">
  <wsdl:part element="impl:forwardRequestElement" name="request" /> 
  </wsdl:message>
<wsdl:portType name="IForward">
<wsdl:operation name="forwardRequest" parameterOrder="request">
  <wsdl:input message="impl:forwardRequestRequest" name="forwardRequestRequest" /> 
  <wsdl:output message="impl:forwardRequestResponse" name="forwardRequestResponse" /> 
  </wsdl:operation>
<wsdl:operation name="forwardResponse" parameterOrder="response">
  <wsdl:input message="impl:forwardResponseRequest" name="forwardResponseRequest" /> 
  <wsdl:output message="impl:forwardResponseResponse" name="forwardResponseResponse" /> 
  </wsdl:operation>
  </wsdl:portType>
<wsdl:binding name="ForwardManagerSoapBinding" type="impl:IForward">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
<wsdl:operation name="forwardRequest">
  <wsdlsoap:operation /> 
<wsdl:input>
  <wsdlsoap:body namespace="uri:org.emayor.servicehandling.kernel.forward" use="literal" /> 
  </wsdl:input>
<wsdl:output>
  <wsdlsoap:body namespace="uri:org.emayor.servicehandling.kernel.forward" use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
<wsdl:operation name="forwardResponse">
  <wsdlsoap:operation /> 
<wsdl:input>
  <wsdlsoap:body namespace="uri:org.emayor.servicehandling.kernel.forward" use="literal" /> 
  </wsdl:input>
<wsdl:output>
  <wsdlsoap:body namespace="uri:org.emayor.servicehandling.kernel.forward" use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
<wsdl:service name="IForwardService">
<wsdl:port binding="impl:ForwardManagerSoapBinding" name="ForwardManager">
  <wsdlsoap:address location="http://localhost:18080/eMayorEJB/ForwardManager" /> 
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>
